<div class='mp'>
<ol class="man-decor man-head man head">
  <li class="tl">jsonbin(1)</li>
  <li class="tc">json RESTful store</li>
  <li class="tr">jsonbin(1)</li>
</ol>

{{#marked}}
## NAME

`jsonbin.org` - A personal JSON store as a RESTful service

## SYNOPSIS

curl `https://jsonbin.org/remy/blog`
<!-- <p>something-on-STDOUT | <code>jsonbin</code></p> -->

To save data, you'll first need to [sign in](https://jsonbin.org/_/login) to get an API key.

## DESCRIPTION

`jsonbin.org` is a personal key/value JSON store as a service. Protected behind authentication and API key requests, data is stored as JSON and can be deep linked. A permissioning model also allows specific paths to your store to become public to share with others.

The aim of the project is to provide a simplified data store for tinkerers.

**Important:** jsonbin is currently in open beta. If you have questions, please get [in touch](#author).

## Authentication

By default all user store data is protected behind auth either via browser sign in, or an `authorization` token. The token is your [`apikey`](https://jsonbin.org/_/me/apikey). For example:

```
curl -X POST https://jsonbin.org/remy/blog \
     -H 'Authorization: token abcd-xyz-123' \
     -d '{ url: "https://remysharp.com" }'
```

## Endpoints

A private namespace URL "`_`" is used for jsonbin specific endpoints:

* [`/_/help`](https://jsonbin.org/_/help) This page.
* [`/_/login`](https://jsonbin.org/_/login) Auth with github.
* [`/_/logout`](https://jsonbin.org/_/logout) Clear your session.
* [`/_/me`](https://jsonbin.org/_/me) Your full profile.
* [`/_/me/apikey`](https://jsonbin.org/_/me/apikey) Your API key.
* [`/_/me/apikey`](https://jsonbin.org/_/me/apikey) DELETE to revoke your current key.
* [`/_/me/username`](https://jsonbin.org/_/me/username) Your username.
* [`/_/me/public`](https://jsonbin.org/_/me/public) Your public paths.
* [`/_/me/:path`](https://jsonbin.org/_/me/) Deep link to profile properties.

The following methods with your `authorization` header will access your data store:

* `GET` return given path mapped to a JSON path.
* `POST` store the payload (supports JSON and files).
* `PATCH` merge the payload with the endpoint.
* `DELETE` store path.

For example:

```
curl -X PATCH \
     -H 'Authorization: token abcd-xyz-123' \
     -d'{ "topic": "code" } \
     https://jsonbin.org/:username/blog
```

By default all endpoints are private, but you can modify a specific entry point to be public by default by changing the permissions:

* PUT `/:username/:path/_perms` make the `:path` public.
* DELETE `/:username/:path/_perms` make `:path` private.
* GET `/:username/:path/_perms` check permissions of `:path`.

Public endpoints accept `GET` requests without the `authorization` header.

## Example usage

You can use jsonbin as a shared clipboard across machines. Creating an alias to upload `STDIN` via `curl` could be posted to a public URL:

```
alias jsonbin="curl -X 'POST' \
      -H'authorization: token abcd-xyz-123' \
      -F'content=@-' \
      https://jsonbin.org/remy/clipboard"
echo "foo" | jsonbin
```

## Example with arrays

As well as objects, arrays are also supported. To delete an array element, it should be accessed using the index as per:

```
curl -X DELETE https://jsonbin.org/remy/urls/1
```

To `push` a new element, so long as the endpoint contains an array:

```
curl -X PATCH -d "foo.com" https://jsonbin.org/remy/urls
```

## BUGS

This project lives at [github/jsonbin](https://github.com/remy/jsonbin). Please report bugs to [github/jsonbin/issues](https://github.com/remy/jsonbin/issues).

## AUTHOR

Remy Sharp &lt;[remy@leftlogic.com](mailto:remy@leftlogic.com)&gt;
{{/marked}}

<ol class="man-decor man-foot man foot">
  <li class="tl"></li>
  <li class="tc">January 2017</li>
  <li class="tr">jsonbin(1)</li>
</ol>
